.container {
    max-width: 1000px;
    margin: auto;
}

.line {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.card-first {
    margin-right: 15px;
    width: 25%;
}
.body__back {
    background: url("1.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back2 {
    background: url("2.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back3 {
    background: url("3.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back4 {
    background: url("4.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back5 {
    background: url("5.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back6 {
    background: url("6.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back7 {
    background: url("7.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__back8 {
    background: url("8.jpg") 0 0/100% no-repeat;
    height: 296px;
}

.body__head {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.head__text {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
    margin-right: 2px;
    background: dodgerblue;
    color: white;
    text-align: center;
}

.footer__price {
    padding: 12px 0 8px;
    position: relative;
}

.price__cent {
    font-size: 10px;
    vertical-align: top;
}

.footer__name {
    font-size: 12px;
    line-height: 1;
}

.footer__size {
    opacity: 30%;
    font-size: 12px;
    padding-top: 5px;
}

.card__footer {
    position: relative;
}

.footer__basket {
    position: absolute;
    right: 0;
    top: 10px;
}

.sale {
    opacity: 30%;
    padding-right: 5px;
    font-size: 12px;
}

.new-price {
    color: red;
}

.price__discount {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
    margin-right: 2px;
    background-color: red;
    color: white;
    top: -6px;
}